
IO_LOC "O_tmds_clk_p" 33,34;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[0]" 35,36;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[1]" 37,38;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[2]" 39,40;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "I_clk" 4;
IO_PORT "I_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "I_rst" 88;
IO_PORT "I_rst" IO_TYPE=LVCMOS33;

/*
|-------------------------------
|  - DAT1  not connected 85
|  - DAT0 / DO / MISO 84
| -- GND
|  - CLK  clock 83             SDCARD bottom view
| -- VDD
|  - CMD / DI / MOSI 82
|  - DAT3 / CS chip select active low 81
|  - DAT2  not connected 80
|------------\
              \--------------------------
*/
IO_LOC "IO_sdcard_dat2" 80;
IO_PORT "IO_sdcard_dat2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "IO_sdcard_dat1" 85;
IO_PORT "IO_sdcard_dat1" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "O_sdcard_clk" 83;
IO_PORT "O_sdcard_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "O_sdcard_mosi" 82;
IO_PORT "O_sdcard_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "I_sdcard_miso" 84;
IO_PORT "I_sdcard_miso" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "O_sdcard_cs_n" 81;
IO_PORT "O_sdcard_cs_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "O_leds[5]" 20;
IO_PORT "O_leds[5]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "O_leds[4]" 19;
IO_PORT "O_leds[4]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "O_leds[3]" 18;
IO_PORT "O_leds[3]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "O_leds[2]" 17;
IO_PORT "O_leds[2]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "O_leds[1]" 16; 
IO_PORT "O_leds[1]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "O_leds[0]" 15;
IO_PORT "O_leds[0]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "I_uart_rx" 74; /* 70 green */
IO_PORT "I_uart_rx" IO_TYPE=LVCMOS33;
IO_LOC "O_uart_tx" 73; /* 69 white */
IO_PORT "O_uart_tx" IO_TYPE=LVCMOS33;
 
